<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">

<head>
  <meta charset="utf-8">
  <title>로그인</title>

  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css"
        integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">
  <style>
    /* center align the buttons */
    .btn {
      display: inline-block;
      margin: 10px;
    }

    h1 {
      margin-top: 250px;
    }
  </style>

</head>


<body>
<div class="text-center" style="margin-top: 10%; padding-left: 35%; padding-right: 35%;">
  <h1>로그인</h1>
  <form action="" th:action="@{/login}" th:object="${memberDto}" method="post">
    <div>
      <input type="text" placeholder="아이디" th:field="${memberDto.userId}" class="form-control" name="userId" required
             oninvalid="this.setCustomValidity('아이디를 입력하세요.')" oninput="this.setCustomValidity('')">

    </div>
    <div>
      <input type="password" placeholder="비밀번호" th:field="${memberDto.pw}" class="form-control" name="pw" required
             oninvalid="this.setCustomValidity('비밀번호를 입력하세요.')" oninput="this.setCustomValidity('')">
    </div>
    <div>
      계정이 없으신가요 ?
    </div>
    <div><a th:href="@{/join}">회원가입</a>하러가기
    </div>
    <button type="submit" class="btn btn-primary">로그인</button>
  </form>
</div>
</body>



</html>